/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 dic. 2020, 9:04:50
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/




.root {
    -fx-base: #5B5B5B;
    -fx-accent: #FF6600 ;
    -fx-default-button: #5B5B5B ;
    -fx-focus-color: #FF6600;
    -fx-faint-focus-color: #efefef22;
}

.popup{
    -fx-background-color: #3f474f;
}

.popup > *.label.content{
       -fx-font-size: 12px;
       -fx-font-weight: bold;
       -fx-text-fill: white;
}
    
